.dashboard-container {
    display: flex;
  }
  
  .content-area {
    margin-left: 160px; /* This should match the width of your sidebar */
    width: calc(100% - 160px);
    min-height: 100vh;
    background-color: #f5f5f5; /* Optional */
    display: flex;
    flex-direction: column;
  }
  
  .main-content {
    padding: 20px;
  }
  