.steps-container {
  width: 86vw;
  margin: 4rem auto;
  padding: 2rem;
  text-align: center;
  border: 1px solid #aca5a5;
  border-radius: 12px;
  background: linear-gradient(to right, #e8a2e7,#622dde);
  
}
  .main-heading {
    font-size: 2.5rem;
    font-weight: 700;
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    margin-bottom: 1rem;
  }
  
  .main-description {
    font-size: 1.1rem;
    color: #fffcfc;
    line-height: 1.6;
    margin-bottom: 3rem;
  }
  
  .steps-vertical {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
  }
  
  .vertical-step {
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  
  
  .step-text-container {
    flex: 1;
    text-align: left;
  }
  
  
 
  .step-card{
    border: 1px solid #aca5a5;
    border-radius: 12px;
    margin-top: 25px;
    background-color: white;
  }
  
  .step-content {
    flex: 1;
    text-align: left;
  }
  .steps-vertical {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    align-items: center;
  }
  
  .vertical-step {
    width: 100%;
    max-width: 600px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    padding: 2rem;
    margin-bottom: 2rem;
  }
  
  .step-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
   
  }
  
  .step-image-container {
    width: 250px;
    height: 250px;
  }
  
  .step-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
    margin-bottom: 1rem;
  }
  
  .step-heading {
    font-size: 1.6rem;
    font-weight: 600;
    color: #2c3e50;
  }
  
  .step-description {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
    margin-top: 0.5rem;
  }
  
  .step-number {
    position: absolute;
    bottom: 1.2rem;
    right: 1.5rem;
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(196, 196, 252, 0.5);
    z-index: 0;
  }
  
  