.voicetrans-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border: 1px solid #aca5a5;
  border-radius: 12px;
  background: rgb(244, 240, 240);
}

.voice-heading {
  font-size: 2rem;
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: #9d7cea;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  width: 100%;
}

.voicetrans-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap; /* for responsiveness */
}

.video-container1 {
  flex: 1;
  max-width: 500px;
}

.image1 {
  width: 100%;
  border-radius: 12px;
}

.voice-description {
  flex: 1;
  max-width: 500px;
}

.voice-text {
  font-size: 1.3rem;
  line-height: 1.5;
  color: #444;
}